{% extends "layout.html" %}
{% block title %}메인 페이지{% endblock %}
{% blcok head &}
  {{ super() }}
{% endblock %}
{% block eontent %
<h2>KIT 로그인</h2>

<form action="/login" method="POST">
  <label for="id">아이디:</label><br>
  <input type="text" id="id" name="id"><br>
  <label for="pw">패스워드:</label><br>
  <input for="password" id="pw" name="pw"></br><br>
  <label type="fname">이름: </label><br>
  <input type="text" id="fname" name="name"><br>
  <input type="submit" value="가입">
</form>

{% endblock %}

<h2>KIT 로그인</h2>

<form action="/login" method="POST">
  <label for="id">아이디:</label><br>
  <input type="text" id="id" name="id"><br>
  <label for="pw">패스워드:</label><br>
  <input for="password" id="pw" name="pw"></br><br>
  <label type="fname">이름: </label><br>
  <input type="text" id="fname" name="name"><br>
  <input type="submit" value="가입">
</form>

</body>
</html> 